system/build/_deps/*-build/
system/build/_deps/*-subbuild/
system/build/arduino_corstone_test_main
system/build/*.cmake
system/build/CMakeCache.txt
system/build/CMakeFiles/
system/build/lib/lwip
system/build/Makefile
system/build/toolchains/
